.THIS {
}
.THIS .productImage {
    height:80px;
    border: none;
}
.THIS .selected {
  border: 3px solid yellow;
}
.THIS .productInput {
width:150px
}
.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
  height:100wh;
  width:100wv;
}