<<<<<<< HEAD:src/aura/MS_ProductSearchBox/MS_ProductSearchBox.css
=======
.THIS {
}
>>>>>>> MS_#5:src/aura/MS_ShopingCart/MS_ShopingCart.css
.THIS.slds-spinner_container {
  z-index: 10000;
  position: fixed;
  height:100wh;
  width:100wv;
}